/* #app {
  display: flex;
} */
#header {
  margin: 15px 0;

  text-align: center;
  font-size: 36px;
}
.grid {
  display: flex;
  flex-wrap: wrap;

  width: 500px;
  height: 470px;
  margin: 15px;

  outline: 1px solid;
}
#grid-player1 {
  float: left;
}
#grid-player2 {
  float: right;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;

  outline: 1px solid;
}

.cover {
  display: none;

  position: absolute;
  width: 500px;
  height: 470px;

  background-color: black;
  opacity: .3;
}

#block-name {
  display: flex;
  justify-content: space-between;

  outline: 1px solid;
}

.name {
  margin: 0 200px;

  font-size: 24px;

  outline: 1px solid;
}